<a href="https://colab.research.google.com/github/yuvarajrajdata/task_2_3/blob/main/TASK_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("/content/tested.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
df.shape

(418, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [6]:
# to find duplicates :
df.duplicated().sum()

0

In [7]:
# drop the column cabin :
df.drop("Cabin",axis=1,inplace=True)

In [8]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [9]:
pip install google-generativeai

Collecting google-generativeai
  Downloading google_generativeai-0.2.2-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.2/133.2 kB 2.9 MB/s eta 0:00:00
Collecting google-ai-generativelanguage==0.3.3 (from google-generativeai)
  Downloading google_ai_generativelanguage-0.3.3-py3-none-any.whl (267 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 267.9/267.9 kB 13.0 MB/s eta 0:00:00
Requirement already satisfied: google-auth in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (2.17.3)
Requirement already satisfied: google-api-core in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (2.11.1)
Requirement already satisfied: protobuf in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (3.20.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (4.66.1)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.10/dist-packages (from google-ai-generativelanguage==0.3.3->google-generativeai) (1.22.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (1.61.0)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (4.9)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (1.59.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (1.48.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth->google-generativeai) (0.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2023.7.22)
Installing collected packages: google-ai-generativelanguage, google-generativeai
Successfully installed google-ai-generativelanguage-0.3.3 google-generativeai-0.2.2

In [16]:
import google.generativeai as palm
import pandas as pd

# Configure the API with your API key
palm.configure(api_key='AIzaSyA_UqrsEcX9WEmGf7Dy2M0YmVAJg2tutFc')

# List available models and choose the one that supports text generation
models = [m for m in palm.list_models() if 'generateText' in m.supported_generation_methods]
model = models[0].name

# Define a function to fetch synonyms using the Palm API
def fetch_synonyms(column_name):
    prompt = f"What are the synonyms for {column_name}?"
    completion = palm.generate_text(
        model=model,
        prompt=prompt,
        temperature=0,
        max_output_tokens=800,
    )

    # Check if completion is not None
    if completion is not None and completion.result:
        synonyms = completion.result.split(",")
        return [syn.strip() for syn in synonyms]
    else:
        return []  # Return an empty list if no synonyms were found

user_input_df = pd.read_csv("/content/tested - Copy.csv")
other_dataset = pd.read_csv("/content/tested.csv")

# Create lists to store matching and unmatched column headings
matching_columns = []
unmatched_columns = []

# Match user input dataset columns with synonyms
for column_name in user_input_df.columns:
    if column_name in other_dataset.columns:
        matching_columns.append(column_name)
    else:
        # If no direct match, fetch synonyms using the Palm API
        synonyms = fetch_synonyms(column_name)
        matched = False
        for synonym in synonyms:
            if synonym in other_dataset.columns:
                matching_columns.append(synonym)
                matched = True
                break
        if not matched:
            unmatched_columns.append(column_name)


matching_df = other_dataset[matching_columns]
unmatched_df = user_input_df[unmatched_columns]


print("Matching Dataframe:")

print(matching_df)

print("\nUnmatched Dataframe:")
print(unmatched_df)

Matching Dataframe:
     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name   Age  SibSp  Parch  \
0                                Kelly, Mr. James  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  47.0      1      0
2                       Myles, Mr. Thomas Francis  62.0      0      0
3                                Wirz, Mr. Albert  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1
..                                            ...   ...    ...    ...
413                            Spector, Mr. Woolf   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  39.0      0      0
415                  Saether, Mr. Simon Sivertsen  38.5      0      0
416                           Ware, Mr. Frederick   NaN      0      0
417                      Peter, Master. Michael J   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 11 columns]

Unmatched Dataframe:
     Gender
0      male
1    female
2      male
3      male
4    female
..      ...
413    male
414  female
415    male
416    male
417    male

[418 rows x 1 columns]

In [17]:
import google.generativeai as palm
import pandas as pd

# Configure the API with your API key
palm.configure(api_key='AIzaSyA_UqrsEcX9WEmGf7Dy2M0YmVAJg2tutFc')

# List available models and choose the one that supports text generation
models = [m for m in palm.list_models() if 'generateText' in m.supported_generation_methods]
model = models[0].name

# Define a function to fetch synonyms using the Palm API
def fetch_synonyms(column_name):
    prompt = f"What are the synonyms for {column_name}?"
    completion = palm.generate_text(
        model=model,
        prompt=prompt,
        temperature=0,
        max_output_tokens=800,
    )

    # Check if completion is not None
    if completion is not None and completion.result:
        synonyms = completion.result.split(",")
        return [syn.strip() for syn in synonyms]
    else:
        return []  # Return an empty list if no synonyms were found

user_input_df = pd.read_csv("/content/tested - Copy.csv")
other_dataset = pd.read_csv("/content/tested.csv")

# Create lists to store matching and unmatched column headings
matching_columns = []
unmatched_columns = []

# Match user input dataset columns with synonyms
for column_name in user_input_df.columns:
    if column_name in other_dataset.columns:
        matching_columns.append(column_name)
    else:
        # If no direct match, fetch synonyms using the Palm API
        synonyms = fetch_synonyms(column_name)
        matched = False
        for synonym in synonyms:
            if synonym in other_dataset.columns:
                matching_columns.append(synonym)
                matched = True
                break
        if not matched:
            unmatched_columns.append(column_name)


matching_df = other_dataset[matching_columns]
unmatched_df = user_input_df[unmatched_columns]


print("Matching Dataframe:")

print(matching_df)

print("\nUnmatched Dataframe:")
print(unmatched_df)

Matching Dataframe:
     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

Unmatched Dataframe:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[418 rows x 0 columns]