<a href="https://colab.research.google.com/github/yuvarajrajdata/task_2_3/blob/main/TASK_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
Source_Columns = pd.read_csv("/content/tested.csv")
Source_Columns.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
Source_Columns.shape

(418, 12)

In [4]:

Destination_Column = (['Name', 'Address', 'Age', 'Date of Birth', 'Gender', 'Sexual Orientation', 'Religion', 'Health', 'Race'])

Destination_Column

['Name',
 'Address',
 'Age',
 'Date of Birth',
 'Gender',
 'Sexual Orientation',
 'Religion',
 'Health',
 'Race']

In [5]:
pip install google-generativeai

Collecting google-generativeai
  Downloading google_generativeai-0.2.2-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.2/133.2 kB 2.7 MB/s eta 0:00:00
Collecting google-ai-generativelanguage==0.3.3 (from google-generativeai)
  Downloading google_ai_generativelanguage-0.3.3-py3-none-any.whl (267 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 267.9/267.9 kB 13.1 MB/s eta 0:00:00
Requirement already satisfied: google-auth in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (2.17.3)
Requirement already satisfied: google-api-core in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (2.11.1)
Requirement already satisfied: protobuf in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (3.20.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from google-generativeai) (4.66.1)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /usr/local/lib/python3.10/dist-packages (from google-ai-generativelanguage==0.3.3->google-generativeai) (1.22.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (1.61.0)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth->google-generativeai) (4.9)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (1.59.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core->google-generativeai) (1.48.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth->google-generativeai) (0.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2023.7.22)
Installing collected packages: google-ai-generativelanguage, google-generativeai
Successfully installed google-ai-generativelanguage-0.3.3 google-generativeai-0.2.2

In [16]:
import google.generativeai as palm
import pandas as pd



# Configure the API with your API key
palm.configure(api_key='AIzaSyA_UqrsEcX9WEmGf7Dy2M0YmVAJg2tutFc')

Destination_Column = ['Name', 'Address', 'Age', 'Date of Birth', 'Gender', 'Sexual Orientation', 'Religion', 'Health', 'Race']

# List available models and choose the one that supports text generation
models = [m for m in palm.list_models() if 'generateText' in m.supported_generation_methods]
model = models[0].name

# Define a function to fetch synonyms using the Palm API
def fetch_synonyms(column_name):
    prompt = f"What are the synonyms for {column_name}?"
    completion = palm.generate_text(
        model=model,
        prompt=prompt,
        temperature=0,
        max_output_tokens=800,
    )


     # Check if completion is not None
    if completion is not None and completion.result:
        synonyms = completion.result.split(",")
        return [syn.strip() for syn in synonyms]
    else:
        return []  # Return an empty list if no synonyms were found

user_input_df = pd.read_csv("/content/tested.csv")


matching_columns = []
unmatched_columns = []

# Match user input dataset columns with synonyms
for column_name in user_input_df.columns:
    if column_name in Destination_Column:
        matching_columns.append(column_name)
    else:  # If no direct match, fetch synonyms using the Palm API
        synonyms = fetch_synonyms(column_name)
        matched = False
        for synonym in synonyms:
            if synonym in Destination_Column:
                matching_columns.append(synonym)
                matched = True
                break
        if not matched:
            unmatched_columns.append(column_name)

matching_df = user_input_df[matching_columns]
unmatched_df = user_input_df[unmatched_columns]

print("Matching Dataframe:")
print(matching_df)

print("\nUnmatched Dataframe:")
print(unmatched_df)

Matching Dataframe:
                                             Name   Age
0                                Kelly, Mr. James  34.5
1                Wilkes, Mrs. James (Ellen Needs)  47.0
2                       Myles, Mr. Thomas Francis  62.0
3                                Wirz, Mr. Albert  27.0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0
..                                            ...   ...
413                            Spector, Mr. Woolf   NaN
414                  Oliva y Ocana, Dona. Fermina  39.0
415                  Saether, Mr. Simon Sivertsen  38.5
416                           Ware, Mr. Frederick   NaN
417                      Peter, Master. Michael J   NaN

[418 rows x 2 columns]

Unmatched Dataframe:
     PassengerId  Survived  Pclass     Sex  SibSp  Parch              Ticket  \
0            892         0       3    male      0      0              330911
1            893         1       3  female      1      0              363272
2            894         0       2    male      0      0              240276
3            895         0       3    male      0      0              315154
4            896         1       3  female      1      1             3101298
..           ...       ...     ...     ...    ...    ...                 ...
413         1305         0       3    male      0      0           A.5. 3236
414         1306         1       1  female      0      0            PC 17758
415         1307         0       3    male      0      0  SOTON/O.Q. 3101262
416         1308         0       3    male      0      0              359309
417         1309         0       3    male      1      1                2668

         Fare Cabin Embarked
0      7.8292   NaN        Q
1      7.0000   NaN        S
2      9.6875   NaN        Q
3      8.6625   NaN        S
4     12.2875   NaN        S
..        ...   ...      ...
413    8.0500   NaN        S
414  108.9000  C105        C
415    7.2500   NaN        S
416    8.0500   NaN        S
417   22.3583   NaN        C

[418 rows x 10 columns]